<template>
  	<div class="comp-root">
		<h3 class="text-center">Range Fee Calculator</h3>
		<div class="form-horizontal">
			<div class="weapons-container comp-sec" v-if="weapons.length > 0 && !showInvoice">
				<div v-for="el in weapons" class="weapon-chip" :key="el.weapon.id">
					<div class="chip-label">{{ el.weapon.id !== 0 ? el.weapon.name : el.ammo.name }}</div>
					<span class="chip-btn" @click="removeWeapon(el)">&times;</span>
				</div>
			</div>
			<div class="comp-sec">
				<div class="form-group" v-if="showWeapons && !showInvoice">
					<label for="weaponDrp" class="col-xs-3 control-label">Weapon</label>
					<div class="col-xs-7">
						<select name="weaponDrp" id="weaponDrp" class="form-control" v-model="weapon" @change="setAmmo">
							<option v-for="w in prices.weapons" :value="w">{{ w ? w.name : '-- Select' }}</option>
						</select>
					</div>
					<div class="col-xs-2 control-label">R{{ weapon && weapon.id !== 0 ? weapon.price.toFixed(2) : '0.00' }}</div>
				</div>
				<div class="form-group" v-if="showWeapons && showAmmo && !showInvoice">
					<label for="ammoDrp" class="col-xs-3 control-label">Ammo</label>
					<div class="col-xs-7">
						<select name="ammoDrp" id="ammoDrp" class="form-control" v-model="ammo">
							<option v-for="a in prices.ammo" :value="a">{{ a ? a.name : '-- Select' }}</option>
						</select>
					</div>
				</div>
				<div class="form-group" v-if="showWeapons && showRounds && !showInvoice">
					<label for="roundsDrp" class="col-xs-3 control-label">Rounds</label>
					<div class="col-xs-7">
						<select name="roundsDrp" id="roundsDrp" class="form-control" v-model="rounds">
							<option v-for="i in 11" :value="ammo ? ammo.multiplicand*[i-1] : null">{{ ammo ? ammo.multiplicand*[i-1] : null }}</option>
						</select>
					</div>
					<div class="col-xs-2 control-label">R{{ ammo ? (ammo.price*(rounds/ammo.multiplicand)).toFixed(2) : '0.00' }}</div>
				</div>
			</div>
			<div class="comp-sec">
				<div class="form-group" v-if="!showWeapons && !showInvoice">
					<label for="peopleDrp" class="col-xs-3 control-label">People</label>
					<div class="col-xs-7">
						<select name="peopleDrp" id="peopleDrp" class="form-control" v-model="people">
							<option v-for="i in 20" :value="i">{{ i }}</option>
						</select>
					</div>
					<div class="col-xs-2 control-label">R{{ (people * hours * prices.rangefee).toFixed(2) }}</div>
				</div>

				<div class="form-group" v-if="!showWeapons && !showInvoice">
					<label for="targetDrp" class="col-xs-3 control-label">A1 Targets</label>
					<div class="col-xs-7">
						<select name="targetDrp" id="targetDrp" class="form-control" v-model="targets">
							<option v-for="i in 101" :value="i-1">{{ i-1 }}</option>
						</select>
					</div>
					<div class="col-xs-2 control-label">R{{ (targets * prices.target).toFixed(2) }}</div>
				</div>

				<div class="form-group" v-if="!showWeapons && !showInvoice">
					<label for="targetDrp" class="col-xs-3 control-label">Instructor</label>
					<div class="col-xs-7 control-label control-label-left">
						<button type="button" :class="{unchecked:!instructor, checked:instructor}" class="chkBtn" @click="toggleInstructor(true)"><font-awesome-icon :icon="instructor ? 'check-circle' : 'circle-notch'"></font-awesome-icon></button> <span class="chkLbl">Yes</span>
						<button type="button" :class="{unchecked:instructor, checked:!instructor}" class="chkBtn" @click="toggleInstructor(false)"><font-awesome-icon :icon="!instructor ? 'check-circle' : 'circle-notch'"></font-awesome-icon></button> <span class="chkLbl">No</span>
					</div>
					<div class="col-xs-2 control-label">R{{ instructor ? prices.instructor.toFixed(2) : '0.00' }}</div>
				</div>

				<div class="form-group" v-if="!showWeapons && !showInvoice">
					<label for="hoursDrp" class="col-xs-3 control-label">Range Hours</label>
					<div class="col-xs-7 control-label control-label-left">
						<select name="hoursDrp" id="hoursDrp" class="form-control" v-model="hours">
							<option v-for="i in 8" :value="i">{{ i }}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="comp-sec">
				<table class="table table-hover" v-if="showInvoice">
					<thead>
						<tr>
							<th></th>
							<th>Item</th>
							<th class="text-right">QTY / Hrs</th>
							<th class="text-right">Price</th>
							<th class="text-right">Total</th>
						</tr>
					</thead>
					<tbody>
						<template v-for="el in weapons">
							<tr v-if="el.weapon.id !== 0">
								<td><span class="label label-danger">W</span></td>
								<td>{{ el.weapon.name }}</td>
								<td class="text-right"></td>
								<td class="text-right"></td>
								<td class="text-right">{{ el.weapon.price.toFixed(2) }}</td>
							</tr>
							<tr v-if="el.rounds > 0">
								<td><span class="label label-warning">A</span></td>
								<td>{{ el.ammo.name }} ({{ el.ammo.multiplicand }})</td>
								<td class="text-right">{{ el.rounds }}</td>
								<td class="text-right">{{ el.ammo.price.toFixed(2) }}</td>
								<td class="text-right">{{ (el.ammo.price*(el.rounds/el.ammo.multiplicand)).toFixed(2) }}</td>
							</tr>
						</template>
						<tr>
							<td></td>
							<td>{{ people }} People</td>
							<td class="text-right">{{ hours }}</td>
							<td class="text-right">{{ prices.rangefee.toFixed(2) }}</td>
							<td class="text-right">{{ (people*hours*prices.rangefee).toFixed(2) }}</td>
						</tr>
						<tr v-if="targets > 0">
							<td></td>
							<td>A1 Target</td>
							<td class="text-right">{{ targets }}</td>
							<td class="text-right">{{ prices.target.toFixed(2) }}</td>
							<td class="text-right">{{ (targets*prices.target).toFixed(2) }}</td>
						</tr>
						<tr v-if="instructor">
							<td></td>
							<td>Instructor</td>
							<td class="text-right">{{ instructor ? hours : 0 }}</td>
							<td class="text-right">{{ prices.instructor.toFixed(2) }}</td>
							<td class="text-right">{{ instructor ? (prices.instructor*hours).toFixed(2) : '0.00' }}</td>
						</tr>
						<tr class="total-row">
							<td></td>
							<td>Total</td>
							<td class="text-right"></td>
							<td class="text-right"></td>
							<td class="text-right">{{ total.toFixed(2) }}</td>
						</tr>
						<tr class="perperson-row">
							<td></td>
							<td>Per Person</td>
							<td class="text-right"></td>
							<td class="text-right"></td>
							<td class="text-right">{{ (total/people).toFixed(2) }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="control-panel text-center">
				<button type="button" class="btn btn-info btn-xs" v-if="showAddBtn" @click.prevent="addWeapon" title="Add Weapon"><font-awesome-icon icon="plus-square"></font-awesome-icon></button>
				<button type="button" class="btn btn-danger btn-xs" v-if="!showWeapons" @click.prevent="back" title="Back"><font-awesome-icon icon="arrow-left"></font-awesome-icon></button>
				<button type="button" class="btn btn-success btn-xs" v-if="showWeapons && ((this.weapon && this.weapon.id === 0 && this.ammo && this.ammo.id === 0) || weapons.length > 0)" @click.prevent="next" title="Next"><font-awesome-icon icon="arrow-right"></font-awesome-icon></button>
				<button type="button" class="btn btn-primary btn-xs" v-if="!showWeapons && !showInvoice" @click.prevent="calc" title="Calculate Fees"><font-awesome-icon icon="check"></font-awesome-icon></button>
				<button type="button" class="btn btn-danger btn-xs" v-if="!showWeapons || (showWeapons && ((this.weapon && this.weapon.id === 0 && this.ammo && this.ammo.id === 0) || weapons.length > 0))" @click.prevent="reset" title="Reset"><font-awesome-icon icon="sync-alt"></font-awesome-icon></button>
			</div>
		</div>

		<div class="alert alert-info alert-dismissible" role="alert" v-if="showAlert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="showAlert = false"><span aria-hidden="true">&times;</span></button>
			<strong>Please note:</strong> This tool should only be used for estimations and actual prices may vary. Please phone ahead 
			to  confirm prices and availability.
		</div>

  	</div>
</template>

<script>

import json from '../assets/prices.json';

export default {
  	data () {
		return {
			showAlert:true,
			prices:json,
			weapons:[],
			total:0,
			showWeapons:true,
			showInvoice:false,
			weapon:null,
			ammo:null,
			rounds:0,
			people:1,
			targets:0,
			instructor:false,
			hours:1,
		}
	},
	computed: {
		weaponList() { /* Figure out how to only display weapons in the dropdown that aren't already in the selected weapons */ },
		showAmmo() {
			return this.weapon && this.weapon.id === 0;
		},
		showRounds() {
			return this.weapon && (this.weapon.id !== 0 || (this.weapon.id === 0 && this.ammo && this.ammo.id !== 0));
		},
		showAddBtn() {
			if((this.weapon && this.weapon.id !== 0) || (this.ammo && this.ammo.id !== 0)) {
				if(this.weapon.id !== 0) return this.weapon.price + (this.ammo.price * (this.rounds/this.ammo.multiplicand)) > 0;
				else return this.ammo.price * (this.rounds/this.ammo.multiplicand) > 0;
			} else return false;
		},
	},
	methods: {
		setAmmo() {
			if(this.weapon && this.weapon.id !== 0) {
				this.ammo = this.prices.ammo.filter(a => {
					if(a) return a.id === this.weapon.ammo;
				})[0];
			}
		},
		addWeapon() {
			this.weapons.push({weapon:this.weapon, ammo:this.ammo, rounds:this.rounds});
			this.weapon = null;
			this.ammo = null;
			this.rounds = 0;
		},
		removeWeapon(el) { this.weapons = this.weapons.filter(w => { return w.weapon.id !== el.weapon.id; }); },
		toggleInstructor(val) { this.instructor = val; },
		back() {
			if(!this.showWeapons) {
				this.showWeapons = true;
				this.showInvoice = false;
			} else this.showWeapons = false;
		},
		next() { this.showWeapons = false; },
		calc() {
			this.weapons.forEach((el, i) => {
				if(el.weapon.id !== 0) this.total += el.weapon.price;
				if(el.rounds > 0) this.total += el.ammo.price * (el.rounds / el.ammo.multiplicand);
			});
			this.total += (this.people * this.hours * this.prices.rangefee) + (this.targets * this.prices.target);
			if(this.instructor) this.total += (this.prices.instructor*this.hours);
			this.showInvoice = true;
		},
		reset() {
			this.weapons = [];
			this.total = 0;
			this.showWeapons = true;
			this.showInvoice = false;
			this.weapon = null;
			this.ammo = null;
			this.rounds = 0;
			this.people = 1;
			this.targets = 0;
			this.instructor = false;
			this.hours = 1;
		}
	}
}
</script>

<style scoped>
	@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */

	h1, h2, h3 { 
		margin-top: 0;
		font-family: 'Poppins', sans-serif; 
	}

	.alert { font-size: 14px; }

	.weapons-container { margin-bottom: 10px; }

	.weapon-chip {
		display: inline-block;
		padding: 0 25px;
		height: 30px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 25px;
		background-color: #ccc;
		margin: 5px 5px 0 0;
	}

	.chip-label { 
		display:inline-block; 
		margin-right: 5px;
	}

	.chip-btn {
		padding-left: 10px;
		color: #888;
		font-weight: bold;
		float: right;
		font-size: 20px;
		cursor: pointer;
	}

	.chip-btn:hover { color: #000; }

	hr.small { margin: 10 0; }

	.control-label-left { text-align: left !important; }

	.chkBtn {
		border: none;
		padding: 0;
		background-color: transparent;
	}

	.chkBtn:focus { outline: none; }

	.total-row, .perperson-row { font-weight: bold; }
	.total-row { border-top: 2px solid #000; }
	.perperson-row { border-bottom: 2px solid #000; }

	.alert { margin-top: 10px; }

</style>
