<template>
  <div class="page-root page">

	<div class="overlay"></div>

    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img class="logo" src="../assets/banner.jpg" />
				<h3>L & W Shooting Centre is an accredited firearm training centre and registered firearm dealer</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official7.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official8.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official9.jpg" alt="Gallary Image" /></div>
		</div>
		
		<div class="row margin-bot-smidgin">
			<hr />
			<div class="col-lg-7">

				<div class="contact-sec phone">
					<div class="row first-row">
						<div class="col-lg-4 col-lg-offset-1"><font-awesome-icon class="text-very-muted watermark" icon="phone" size="6x"></font-awesome-icon></div>
						<div class="col-lg-2 text-center visible-lg"><font-awesome-icon class="text-very-muted watermark" icon="clock" size="6x"></font-awesome-icon></div>
					</div>
					<div class="row first-row">
						<div class="col-lg-6">
							<div class="col-xs-5 col-lg-5 text-right"><p><strong>Email</strong></p></div>
							<div class="col-xs-7 col-lg-7 text-left"><a href="mailto:hgous58@gmail.com">hgous58@gmail.com</a></div>
						</div>
						<div class="col-lg-6 visible-lg">
							<div class="text-center"><p><strong>Operating Hours</strong></p></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="col-xs-5 col-lg-5 text-right"><p><strong>Telephone</strong></p></div>
							<div class="col-xs-7 col-lg-7 text-left"><p>+27(0)129916700</p></div>
						</div>
						<div class="col-lg-6 visible-lg">
							<div class="col-xs-5 col-lg-6 text-right"><strong>Mon, Thu</strong></div>
							<div class="col-xs-7 col-lg-6 text-left">09:00 – 21:00</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="col-xs-5 col-lg-5 text-right"><p><strong>Mobile</strong></p></div>
							<div class="col-xs-7 col-lg-7 text-left"><p>+27(0)824793128</p></div>
						</div>
						<div class="col-lg-6 visible-lg">
							<div class="col-xs-5 col-lg-6 text-right"><strong>Tue, Wed, Fri</strong></div>
							<div class="col-xs-7 col-lg-6 text-left">09:00 – 17:00</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="col-xs-5 col-lg-5 text-right"><p><strong>Fax</strong></p></div>
							<div class="col-xs-7 col-lg-7 text-left"><p>+27(0)129916701</p></div>
						</div>
						<div class="col-lg-6 visible-lg">
							<div class="col-xs-4 col-lg-6 text-right"><strong>Sat</strong></div>
							<div class="col-xs-8 col-lg-6 text-left">09:00 – 16:00</div>
						</div>
					</div>
				</div>
				<hr class="hidden-lg" />
				<div class="contact-sec phone hidden-lg">
					<div class="row first-row">
						<div class="col-xs-2"><font-awesome-icon class="text-very-muted watermark" icon="clock" size="6x"></font-awesome-icon></div>
					</div>
					<div class="row first-row">
						<div class="col-xs-12"><p class="text-center"><strong>Operating Hours</strong></p></div>
					</div>
					<div class="row">
						<div class="col-xs-5 text-right"><strong>Mon, Thu</strong></div>
						<div class="col-xs-7 text-left">09:00 – 21:00</div>
					</div>
					<div class="row">
						<div class="col-xs-5 text-right"><strong>Tue, Wed, Fri</strong></div>
						<div class="col-xs-7 text-left">09:00 – 17:00</div>
					</div>
					<div class="row">
						<div class="col-xs-5 text-right"><strong>Sat</strong></div>
						<div class="col-xs-7 text-left">09:00 – 16:00</div>
					</div>
				</div>
				<hr />
				<font-awesome-icon class="text-very-muted watermark" icon="compass" size="6x"></font-awesome-icon>
				<div class="contact-sec address">
					<div class="row first-row">
						<div class="col-lg-2 text-right centered-mobile"><p><strong>Coordinates</strong></p></div>
						<div class="col-lg-10 text-left centered-mobile"><p><strong>Lat</strong> -25.788879, <strong>Long</strong> 28.307669</p></div>
					</div>
					<div class="row">
						<div class="col-lg-2 text-right centered-mobile mobile-margin"><p><strong>Address</strong></p></div>
						<div class="col-lg-10 text-left centered-mobile"><p>Basement 1, Atterbury Value Mart, Atterbury Road, Faerie Glen, Pretoria, 0043</p></div>
					</div>
					<div class="row">
						<div class="col-lg-2 text-right centered-mobile mobile-margin"><p><strong>Directions</strong></p></div>
						<div class="col-lg-10 text-left centered-mobile"><p>Take the Atterbury off ramp east and drive straight. You will see Atterbury Value Mart on the right. Turn in at entrance between BP and Steers, keep left and go down ramp at Basement Parking. L & W Shooting Range is in Basement 1</p></div>
					</div>
				</div>

			</div>
			<div class="col-lg-5">
				<h3 class="text-right contact-heading centered-mobile">Feel free to send us a message</h3>
				<contact></contact>
			</div>
		</div>

		<div class="row map-row">
			<div class="col-lg-12">

				<div class="map">
					<GmapMap :center="{ lat:-25.788879, lng:28.307669 }" :zoom="13" map-type-id="terrain" style="width: 100%; height: 550px">
						<GmapMarker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="true" @click="center=m.position" />
					</GmapMap>
				</div>

			</div>
		</div>
    </div>
	<foot></foot>

  </div>
</template>

<script>

import Contact from './Contact-comp.vue';
import Foot from './Foot.vue';

export default {
  components: { 
	'contact':Contact,
	'foot':Foot
  },
  data () {
    return {
		markers: [
			{ position:{lat:-25.788879, lng:28.307669}, title:'Haai!', snippet:'Population: 4137' }
		]
    }
  },
  created () {},
	methods: {}
}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */

	h1, h2, h3 { font-family: 'Poppins', sans-serif; }

	.page-root {
		font-size: 1.3em;
		background-image: url('../assets/background2.jpg');
		background-size: cover;
	    background-attachment: fixed;
	}

	.page-root .container { padding-top: 20px; }

	.overlay {
		position:fixed;
		background-color: rgba(242, 242, 242, 0.95);
		width: 100%;
		min-height: 100vh;
		top: 0;
	}

	.margin-bot-smidgin { margin-bottom: 9px; }

	.map {
		height: 400px;
		width: 100%;
	}

	.text-very-muted { color: #cccccc; }

	.watermark { 
		position: absolute;
		z-index: 0;
	}

	.contact-sec {
		position: relative;
		z-index: 1;
	}

	.contact-sec p,
	.contact-sec a {
		font-family: 'Fira Sans', sans-serif;
		margin-bottom: 5px;
	}

	.contact-sec .first-row { margin-top: 8px; }

	.contact-sec.email .first-row { height: 80px; }

	.contact-sec.email .first-row p,
	.contact-sec.email .first-row a { line-height: 90px; }

	.custom-width { width: 33% }

	.contact-heading {
		font-weight: bold;
		margin-bottom: 30px;
	}

	.map-row { margin-bottom: 200px; }

		/* Mobile */
	@media only screen and (min-width: 320px) and (max-width: 991px) {
		.logo { width:100% }

		.gallary-img {
			border: 1px solid #ccc;
			margin-top: 10px;
		}

		.centered-mobile { text-align: center; }

		.mobile-margin { margin-top: 20px; }
	}

  	/* PC */
	@media only screen and (min-width: 992px) {}

</style>
