<template>
    <div class="comp-root">
        
		<div class="row">
			<div class="col-lg-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="nameTxt" class="col-lg-4 control-label">Name</label>
                        <div class="col-lg-8">
                            <input v-model="msgName" type="text" class="form-control" id="nameTxt" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobileTxt" class="col-lg-4 control-label">Contact No</label>
                        <div class="col-lg-8">
                            <input v-model="msgCell" type="text" class="form-control" id="mobileTxt" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailTxt" class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-8">
                            <input v-model="msgEmail" type="email" class="form-control" id="emailTxt" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="messageTxt" class="col-lg-4 control-label">Message</label>
                        <div class="col-lg-8">
                            <textarea v-model="msgMessage" id="messageTxt" rows="3" class="form-control" placeholder="Message / Enquiry"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">
                            <div class="form-field recaptcha-field">
                                <div id="recaptchaWidget" class="g-recaptcha" :data-sitekey="recaptchaSiteKey"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-10">
                            <button v-if="!showSpinner" @click="sendMessage" type="button" class="btn btn-info">Send</button>
                            <button v-if="showSpinner" type="button" class="btn btn-info" readonly>
                                <font-awesome-icon icon="spinner" spin></font-awesome-icon>
                            </button>
                        </div>
                    </div>
                </form>
			</div>
		</div>

    </div>
</template>

<script>
    import { eventBus } from '../main';

    export default {
        data () {
            return {
                msgName:'',
                msgCell:'',
                msgEmail:'',
                msgMessage:'',
                showSpinner:false,
                // recaptchaSiteKey:'6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI', // DEVELOPMENT
                recaptchaSiteKey:'6LfMwnIUAAAAAN7THpAnGyT9lzyDpETKg6ozAVQB', // PRODUCTION
                // server:'http://127.0.0.1:3000/', // DEVELOPMENT
                server:'https://serene-headland-85982.herokuapp.com/', // PRODUCTION
            }
        },
        mounted() { this.initRecaptcha(); },
        methods: {
            sendMessage() {
                // Remember to add recaptcha!
                if(this.msgName && this.msgCell && this.msgEmail && this.validEmail(this.msgEmail) && this.msgMessage && grecaptcha.getResponse()) {
                    this.showSpinner = true;
                    this.$http.post(this.server+'contact', {
                        name:this.msgName,
                        cell:this.msgCell,
                        email:this.msgEmail,
                        msg:this.msgMessage,
                        captcha: grecaptcha.getResponse(),
                    }).then(ret => {
                        // console.log('ret: ', ret);
                        this.showSpinner = false;
                        eventBus.$emit('showMessage', null, ret.body.message, ret.body.status, ret.body.status === 'success');
                    }, ret => {
                        console.log('Error: ', ret);
                        this.showSpinner = false;
                        eventBus.$emit('showMessage', 'Error', 'An error has occurred. [FE1]', 'failed');
                    });

                } else {
                    let emptyFields = [];
                    if(!this.msgName) emptyFields.push('Name');
                    if(!this.msgCell) emptyFields.push('Contact No');
                    if(!this.msgEmail) emptyFields.push('Email');
                    if(!this.msgMessage) emptyFields.push('Message');

                    if(emptyFields.length > 0) {
                        let msg1 = 'The following required fields were empty: ';
                        emptyFields.forEach((field, i) => {
                            msg1+=field;
                            if(i===emptyFields.length-1) msg1+='.';
                            else msg1+=', ';
                        });
                        eventBus.$emit('showMessage', 'Warning', msg1, 'warning');
                    }

                    if(!this.validEmail(this.msgEmail)) eventBus.$emit('showMessage', 'Warning', 'Please enter a valid email address.', 'warning');

                    if(!grecaptcha.getResponse()) eventBus.$emit('showMessage', 'Warning', 'Please confirm that you\'re not a robot.', 'warning');
                }
            },
			validEmail: function(string) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(string).toLowerCase());
            },
            initRecaptcha: function() {
                var self = this;
                if(grecaptcha.render) {
                    setTimeout(function() {
                        if(typeof grecaptcha === 'undefined') {
                            self.initRecaptcha();
                        } else {
                            if(grecaptcha && grecaptcha.render) {
                                grecaptcha.render('recaptchaWidget', {
                                    sitekey:self.recaptchaSiteKey,
                                    badge:'inline',
                                });
                            }
                        }
                    },100);
                }
            },
        }
    }
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */

    .comp-root { font-family: 'Poppins', sans-serif; }
    
    textarea { resize: vertical; }
    
</style>
