<template>
  <div class="comp-root">

    <div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="footer-content">
					<h3 class="outro">
						L & W Shooting Centre is a registered dealer trading ammunition and weapons directly to the public
					</h3>
					<div class="tiny-centered-hr"></div>
					<div class="vanities">
						Developed by <a href="mailto:seriouslee131@gmail.com">Lee Grobler</a> <font-awesome-icon icon="copyright"></font-awesome-icon> 2018
					</div>
					<div class="hidden-md hidden-lg">
						<div class="social">
							<a class="social-link facebook" href="https://www.facebook.com/LW-Indoor-Shooting-Centre-Firearm-Dealer-201408156732615/" target="_blank" title="Facebook">
								<font-awesome-icon :icon="['fab', 'facebook']"></font-awesome-icon>
							</a>
							<a class="social-link top-link" href="" @click.prevent="scrollUp" title="Back to Top">
								<font-awesome-icon icon="arrow-circle-up"></font-awesome-icon>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  </div>
</template>

<script>
  	import { eventBus } from '../main';

	export default {
		methods: {
			scrollUp() {
				eventBus.$emit('top');
			}
		}
	}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */
	
	h1, h2, h3, h4 { font-family: 'Poppins', sans-serif; }

	.comp-root {
		font-family: 'Fira Sans', sans-serif;
		background-color: #101010;
		color: #f2f2f2;
		font-size: 1.3em;
		line-height: 2.7;
		position: relative;
	}

	.footer-content {
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
	}
	
	.tiny-centered-hr {
		border-bottom: 1px solid #fff;
		width: 50px;
		margin: 0 auto;
	}

	/* Mobile */
  	@media only screen and (min-width: 320px) and (max-width: 991px) {
		.vanities { 
			height: 30px; 
			font-size: 0.8em;
		}
		
		.social-link {
			font-size: 24px;
			color: #222;
		}

		.social-link.top-link { 
			font-size: 24px; 
			color: #f2f2f2;
		}

		.social-link:hover { color: #9d9d9d; }
		.social-link.facebook { color: #3b5998; }
		.social-link.facebook:hover { color: #8b9dc3; }
	}
</style>
