<template>
  <div class="page-root page">

    <div class="parallax sec1">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-lg-12 text-container">
            <h1>
              L & W Shooting Centre is a one-stop firearm training centre, conveniently situated in the Atterbury Value Mart Shopping 
              Complex in the eastern side of Pretoria.
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="not-parallax sec1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="../assets/banner.jpg" />
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="sub">L & W Shooting Centre is an accredited firearm training centre and registered firearm dealer</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>
              We are a registered dealer trading in ammunition and weapons directly to the public. We also assist in providing examples 
              of motivations for firearm licenses.
            </p>
            <p>
              <strong>L & W</strong> has accredited assessors that assist in the training of students as well as providing top-up courses for firearm 
              owners.
            </p>
            <p>
              Learners immediately receive their training certificates on successful completion of their examinations, thus ensuring 
              easy facilitation to security companies.
            </p>
          </div>
          <div class="col-lg-6">
            <p><strong>L & W</strong> is accredited at the following institutions:</p>
            <ul>
              <li>SASSETA: 007197004076</li>
              <li>SAPS: Training Provider (4000 663)</li>
              <li>SAPS: Shooting Range (3000389)</li>
              <li>SAPS: Trading License (NRCS(SABS) AZC2007/040)</li>
              <li>Dealers license #100469</li>
            </ul>
            <p>
              Check out our awesome Range Fee Calculator on <span @click="setActive"><router-link to="/prices">THIS</router-link></span> 
              page to get a price estimate on how much a visit to our shooting range might cost. 
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="sub">Learners immediately receive their training certificates on successful completion of their exams...</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax sec2">
      <iframe class="video" src="https://www.youtube-nocookie.com/embed/RWrYRt7mAd8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      
    </div>
  	<foot></foot>
  </div>
</template>

<script>
import { eventBus } from '../main';
import Foot from './Foot.vue';

export default {
  components: {
		'foot':Foot
	},
  methods: {
    setActive() {
      eventBus.$emit('setActive');
    }
  }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

  .parallax {
    display: block;
    position: relative;
    text-align: center;
  }

  .parallax::after {
    content: "";
    background: url('../assets/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .parallax.sec1 h1 {
    background-color: rgba(16, 16, 16, 0.75);
    padding: 20px 0;
  }

  .not-parallax {
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #101010;
    color: #f2f2f2;
    font-size: 1.3em;
  }

  .sub { margin: 25px 0; }

  h1, h2, h3 {
    margin: 0;
    color: #f2f2f2;
  }

  h3 { font-family: 'Poppins', sans-serif; }

  .not-parallax img { border: 1px solid #ccc; }

  .parallax.sec1 h1 {
    background-color: rgba(16, 16, 16, 0.75);
    padding: 20px 0;
  }

  /* Mobile */
  @media only screen and (min-width: 320px) and (max-width: 991px) {
    .parallax {
      min-height: 500px;
      /* min-height: 40vh; */
      display: block;
      position: relative;
      text-align: center;
    }

    .parallax.sec1 .text-container { margin-top: 40px; }

    .not-parallax img { width:100% }

    h1 { 
      font-family: 'Titillium Web', sans-serif; 
      font-size: 1.7em;
    }

    .parallax .video {
      width: 90vw; 
      height: 50vw;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }

  /* PC */
  @media only screen and (min-width: 992px) {
    .parallax {
      height: 39vw;
      display: block;
      position: relative;
      text-align: center;
    }

    .parallax.sec1 .text-container { padding: 170px 200px 0 200px; }

    h1 { font-family: 'Titillium Web', sans-serif; }

    .parallax .video {
      width: 60vw; 
      height: 34vw;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
  }
  
</style>
