<template>
  <div class="comp-root">
    
    <nav class="navbar navbar-inverse no-margin">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" @click="open = !open">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <router-link class="navbar-brand" @click="setActive" to="/"><span>L & W Indoor Shooting Centre</span></router-link>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li @click="setActive" :class="{active:active === 'home'}"><router-link to="/"><span>Home</span></router-link></li>
            <li @click="setActive" :class="{active:active === 'services'}"><router-link to="/services"><span>Services</span></router-link></li>
            <li @click="setActive" :class="{active:active === 'prices'}"><router-link to="/prices"><span>Prices</span></router-link></li>
            <li @click="setActive" :class="{active:active === 'contact'}"><router-link to="/contact"><span>Contact</span></router-link></li>
          </ul>
        </div>
      </div>
    </nav>

    <transition name="router-anim" enter-active-class="animated slideInDown" leave-active-class="animated slideOutUp">
      <div v-if="open" class="mobile-nav hidden-md hidden-lg">
        <ul class="nav navbar-nav">
          <li @click="setActive" :class="{active:active === 'home'}"><router-link to="/"><span>Home</span></router-link></li>
          <li @click="setActive" :class="{active:active === 'services'}"><router-link to="/services"><span>Services</span></router-link></li>
          <li @click="setActive" :class="{active:active === 'prices'}"><router-link to="/prices"><span>Prices</span></router-link></li>
          <li @click="setActive" :class="{active:active === 'contact'}"><router-link to="/contact"><span>Contact</span></router-link></li>
        </ul>
      </div>
    </transition>

  </div>
</template>

<script>
import { eventBus } from '../main';

export default {
  data () {
    return {
      active:'',
      open:false
    }
  },
  created() {
    eventBus.$on('setActive', () => { this.setActive(); });
    this.setActive();
  },
  methods: {
    setActive() {
      this.active = window.location.pathname === '/' ? 'home' : window.location.pathname.substring(1);
      this.open = false;
    },
  }
}
</script>

<style scoped>

  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

  .comp-root {
    position: relative;
    z-index: 1000;
  }

  .navbar.no-margin {
    margin-bottom: 0;
  }

  /* Mobile */
  @media only screen and (min-width: 320px) and (max-width: 991px) {
    .mobile-nav {
      position: absolute;
      background-color: #222;
      width: 100%;
      padding: 0 10px;
    }

    .nav li a {
      color: #9d9d9d;
    }

    .nav li.active a {
      color: #fff;
      background-color: #080808;
    }
  }
</style>
