<template>
  <div class="page-root page">

	<div class="overlay"></div>

    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img class="logo" src="../assets/banner.jpg" />
				<h3>L & W Shooting Centre is an accredited firearm training centre and registered firearm dealer</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official4.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official5.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official6.jpg" alt="Gallary Image" /></div>
		</div>
		<div class="row last-row">
			<hr />
			<div class="col-lg-6">
				<!-- <a class="social-link" href="#" @click.prevent="alert = !alert"><font-awesome-icon :icon="['fab', 'facebook']"></font-awesome-icon></a>
				<transition name="slide">
					<div class="alert alert-danger" role="alert" v-if="alert">Haai!</div>
				</transition> -->

				<p><strong>Please click on the various price lists for more information.</strong></p>
				<p>
					To place an order, please click on the Order From link below to download our order form. <strong>Important note:</strong> On 
					the order form, please supply the firearm licence information for every calibre ordered. The completed order form can be 
					emailed or faxed to us.
				</p>
				<div class="text-center">
					<a href="https://showme.co.za/pretoria/files/2018/04/L-W-Indoor-Shooting-Centre-Price-List.P1.pdf" target="_blank">Fee Structures</a> | 
					<a href="https://showme.co.za/pretoria/files/2018/04/L-W-Indoor-Shooting-Centre-Price-List.P2.pdf" target="_blank">Other Fees</a> | 
					<a href="https://showme.co.za/pretoria/files/2018/04/L-W-Indoor-Shooting-Centre-Price-List-All.pdf" target="_blank">Full Price List</a> | 
					<a href="https://showme.co.za/pretoria/files/2014/06/LW-Order-Form.pdf" target="_blank">Order Form</a>
				</div>
				<p class="margin-top-10">
					Check out our Range Fee Calculator to the right. If you and your friends want to come try out our shooting range, this tool 
					will show you an estimate of how much it might cost.
				</p>
			</div>
			<div class="col-lg-6">
				<calculator></calculator>
			</div>
		</div>
    </div>
	<foot></foot>
  </div>
</template>

<script>
import Calculator from './Calculator-comp.vue';
import Foot from './Foot.vue';

export default {
	components: {
		'calculator':Calculator,
		'foot':Foot
	},
	data() {
		return {
			alert:false
		}
	},
}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */

	h1, h2, h3 { font-family: 'Poppins', sans-serif; }

	.page-root {
		font-size: 1.3em;
		font-family: 'Fira Sans', sans-serif;
		background-image: url('../assets/background2.jpg');
		background-size: cover;
	    background-attachment: fixed;
	}

	.page-root .container { padding-top: 20px; }

	.overlay {
		position:fixed;
		background-color: rgba(242, 242, 242, 0.95);
		width: 100%;
		min-height: 100vh;
		top: 0;
	}

	.margin-top-10 { margin-top: 10px; }

	.row.last-row { margin-bottom: 30px; }

	/* Mobile */
	@media only screen and (min-width: 320px) and (max-width: 991px) {
		.logo { width:100% }

		.gallary-img {
			border: 1px solid #ccc;
			margin-top: 10px;
		}
	}

  	/* PC */
	@media only screen and (min-width: 992px) {}

</style>
