<template>
  <div class="page-root page">

	<div class="overlay"></div>

    <div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<img class="logo" src="../assets/banner.jpg" />
				<h3 class="thatpoppy">L & W Shooting Centre is an accredited firearm training centre and registered firearm dealer</h3>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official1.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official2.jpg" alt="Gallary Image" /></div>
			<div class="col-sm-4 text-center"><img class="gallary-img" src="../assets/official3.jpg" alt="Gallary Image" /></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<hr />
				<h4 class="text-center sub">L & W Shooting Centre offers the following products and services:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">

				<ul class="list-group">
					<li class="list-group-item">
						Firearm training certificates for proposed weapon owners/users for private (individual) and business purposes, fully 
						equipped lecture rooms, kiosk and softdrink vending machine as well as a shooting Centre for the practical shooting exams.
					</li>
					<li class="list-group-item">
						Social practice sessions in the firearm shooting Centre of 10m with 5 shooting bays. The Centre is approved for any 
						handgun, shotgun and maximum .22 rifles.
					</li>
					<li class="list-group-item">
						Ammunition, weapons and accessories are also available for private usage or for use in the shooting Centre (general 
						calibers).
					</li>
				</ul>

			</div>
			<div class="col-lg-6">

				<table class="table table-hover">
					<thead>
						<tr>
							<th>UNIT STANDARD [US]</th>
							<th class="text-center">PRIVATE USE</th>
							<th class="text-center">BUSINESS PURPOSES</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Handle and Use a: Handgun [US]</td>
							<td class="text-center">119649</td>
							<td class="text-center">123515</td>
						</tr>
						<tr>
							<td>Self-Loading Rifle or Carbine [US] </td>
							<td class="text-center">119650</td>
							<td class="text-center">123511</td>
						</tr>
						<tr>
							<td>Manually Operated Rifle [US]</td>
							<td class="text-center">119651</td>
							<td class="text-center">123519</td>
						</tr>
						<tr>
							<td>Shotgun [US]</td>
							<td class="text-center">119652</td>
							<td class="text-center">123514</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div class="row last-row">
			<div class="col-lg-12 text-center">
				<p>The following courses are provided:</p>
				<p><strong>Demonstrate knowledge of the Firearms Control Act, 60/2000 – Unit Standard (US) 117705</strong></p>
			</div>
		</div>
    </div>
	<foot></foot>
  </div>
</template>

<script>
import { eventBus } from '../main';
import Foot from './Foot.vue';

export default {
	components: {
		'foot':Foot
	},
	methods: {
		setActive() { eventBus.$emit('setActive'); }
	}
}
</script>

<style scoped>
	@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Titillium+Web');

	/* font-family: 'Poppins', sans-serif; */
	/* font-family: 'Titillium Web', sans-serif; */
	/* font-family: 'Fira Sans', sans-serif; */

	.page-root {
		font-family: 'Fira Sans', sans-serif;
		font-size: 1.3em;
		background-image: url('../assets/background2.jpg');
		background-size: cover;
    	background-attachment: fixed;
	}

	.page-root .container { padding-top: 20px; }

	.overlay {
		position:fixed;
		background-color: rgba(242, 242, 242, 0.95);
		width: 100%;
		min-height: 100vh;
		top: 0;
	}

	h1, h2, h3 { font-family: 'Poppins', sans-serif; }

	.sub { margin-bottom: 20px; }

	.row.last-row { margin-bottom: 30px; }

	/* Mobile */
	@media only screen and (min-width: 320px) and (max-width: 991px) {
		.logo { width:100% }

		.gallary-img {
			border: 1px solid #ccc;
			margin-top: 10px;
		}
	}

  	/* PC */
	@media only screen and (min-width: 992px) {}

</style>
