<template>
  <div class="layout-root">
    <nav-bar></nav-bar>
    <transition name="router-anim" enter-active-class="animated bounceInRight" leave-active-class="animated bounceOutLeft">
      <router-view/>
    </transition>
    <vue-snotify></vue-snotify>

    <div class="social-panel visible-lg">
      <a class="social-link facebook" href="https://www.facebook.com/LW-Indoor-Shooting-Centre-Firearm-Dealer-201408156732615/" target="_blank" title="Facebook">
        <font-awesome-icon :icon="['fab', 'facebook']"></font-awesome-icon>
      </a>
      <a class="social-link top-link" href="" @click.prevent="scrollUp" title="Back to Top">
        <font-awesome-icon icon="arrow-circle-up"></font-awesome-icon>
      </a>
    </div>

  </div>
</template>

<script>
  import { eventBus } from './main';
  import Nav from './components/Nav.vue';

  export default {
    components: { 'nav-bar':Nav, },
    created() { 
      eventBus.$on('showMessage', (title, msg, type, sticky) => this.displayNotification(title, msg, type, sticky));
      eventBus.$on('top', () => this.scrollUp());
    },
    methods: {
      displayNotification(title, msg, type, sticky) {
        let options = {};
        
        if(sticky) {
          if(typeof sticky === 'object') options = sticky;
          else options = { 
            timeout: 3000000,
            buttons: [{ text: 'Thanks', action: null, bold: true }],
            backdrop: 0.5,
            bodyMaxLength: 500
          };
        }

        if(!title) {
          if(type === 'failed') title = 'Error';
          else title = type.substring(0,1).toUpperCase()+type.substring(1,type.length);
        }

        this.$snotify[type || 'error'](msg, title, options);
      },
      scrollUp() {
        // If at bottom of page, scroll to top
        if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          window.scrollTo(0, 0);
        } else window.scrollBy(0, 1);
      },
    },
  }
</script>

<style>
  @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

  /* PC */
  @media only screen and (min-width: 992px) {
    .page {
      position: absolute;
      width: 100%;
    }

    .social-panel {
      position: fixed;
      height: 98px;
      top: 155px;
      left: 0;
      transition: 0.5s;
      background-color: #e6e6e6;
      width: 44px;
      padding: 0 4px;
      border: 1px solid #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .social-link {
      font-size: 36px;
      color: #222;
    }

    .social-link.top-link { font-size: 32px; }
    .social-link:hover { color: #9d9d9d; }
    .social-link.facebook { color: #3b5998; }
    .social-link.facebook:hover { color: #8b9dc3; }
  }
</style>





